/* Font */
@font-face {
    font-family: pangolin;
    src: url(../FONTS/Pangolin/Pangolin-Regular.ttf);
  }
  
  /* Global styles */
  html {
    height: 100%;
  }
  
  :root {
    background: linear-gradient(to bottom, #52a9fa, #f19c2b);
    padding: 0;
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat scroll;
    background-attachment: fixed;
  }
  
  header {
    text-align: center;
    color: #ffffff;
    font-size: 300%;
    margin: 5%;
    font-family: pangolin;
  }
  
  main {
    font-family: pangolin;
    margin: 4%;
    text-align: center;
  }
  
  p {
    width: 60%;
    font-size: 175%;
    overflow-y: scroll;
    height: 400px;
    color: #ffffff;
    padding-right: 20px;
  }
  
  .image-container {
    float: left;
    width: 25%;
    margin-left: 3%;
  }
  
  img {
    max-width: 80%;
    height: auto;
    border-radius: 20%;
    border: 5px solid #ffffff;
  }
  
  main h2 {
    color: #ffffff;
    font-weight: normal;
    padding-right: 15%;
    text-align: center;
    display: inline-block;
  }
  
  h2 li {
    list-style-type: none;
    text-align: center;
  }
  
  h2 li a {
    color: #0081ccce;
    text-align: center;
  }
  
  /* Navigation Menu */
  #nav_menu {
    position: fixed;
    top: 45%;
    right: 10px;
    width: 200px;
  }
  
  #nav_menu ul {
    display: block;
    position: relative;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #nav_menu ul li {
    margin-bottom: 20px;
  }
  
  #nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(22, 119, 231);
    color: rgb(255, 255, 255);
    font-family: pangolin;
    text-decoration: none;
    border-radius: 20px;
    opacity: 50%;
    border: 2px solid #ffffff;
  }
  
  #nav_menu ul li a.current {
    background-color: #e0830a;
  }
  
  #nav_menu ul li a:hover {
    background-color: #01a2ff;
  }
  