@font-face {
  font-family: pangolin;
  src: url(FONTS/Pangolin/Pangolin-Regular.ttf);
}

/* Global styles */
html {
  height: 100%;
}

:root {
  background: linear-gradient(to bottom, #52a9fa, #f19c2b);
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat scroll;
  background-attachment: fixed;
}

header {
  text-align: center;
  color: #ffffff;
  font-size: 300%;
  margin: 5%;
  font-family: pangolin;
}

/* Navigation Menu */
#nav_menu {
  position: fixed;
  top: 45%;
  right: 10px;
  width: 200px;
}

#nav_menu ul {
  display: block;
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav_menu ul li {
  margin-bottom: 20px;
}

#nav_menu ul li a {
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(22, 119, 231);
  color: rgb(255, 255, 255);
  font-family: pangolin;
  text-decoration: none;
  border-radius: 20px;
  opacity: 50%;
  border: 2px solid #ffffff;
}

#nav_menu ul li a.current {
  background-color: #e0830a;

}

#nav_menu ul li a:hover {
  background-color: #01a2ff;
}

p {
  float: left;
  width: 40%;
  font-size: 200%;
  overflow-y: scroll;
  height: 400px;
  color: #ffffff;
  font-family: pangolin;
  padding: 1%;

}

.image-container {
  float: right;
  width: 48%;
  text-align: center;
  padding-top: 3%;
  padding-right: 10%
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: 5px solid #ffffff;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  p {
    float: none;
    width: 100%;
    font-size: 140%;
    overflow-y: visible;
    height: auto;
  }

  .image-container {
    float: none;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-right: 0;
  }

  #nav_menu {
    position: static;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  #nav_menu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  #nav_menu ul li {
    display: block;
    margin-bottom: 10px;
  }

  #nav_menu ul li a {
    display: block;
    padding: 10px;
  }
}

/* 2-column layout */
.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

/* Padding */
.main-content>div {
  padding: 2.5%;
  background-color: #1b2975;
}

/* Margin for header */
header {
  margin: 5%;
}

/* Margin for main section */
main {
  margin: 5%;
}