@font-face {
	font-family: pangolin;
	src: url(Pangolin/Pangolin-Regular.ttf);
}

/* Global styles */
html {
	height: 100%;
}

:root {
	--blue-color: rgb(12, 10, 125);
}

header {
	text-align: center;
	color: #ffffff;
	font-size: 300%;
}

main {
	width: 55%;
	font-size: 150%;
	overflow-y: scroll;
	height: 400px;
	color: #ffffff;
	font-family: pangolin;
	padding: 1%;
}

body ul {
	list-style: none;
	font-size: 150%;
}
body h2 {
	color:#ffffff;
	font-weight: normal;
	font-family: pangolin;
	
}
a {
	color: #006fee;
}

/* Navigation Menu */
#nav_menu {
	position: fixed;
	top: 45%;
	right: 10px;
	width: 200px;
}

#nav_menu ul {
	display: block;
	position: relative;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav_menu ul li {
	margin-bottom: 20px;
}

#nav_menu ul li a {
	display: block;
	text-align: center;
	padding: 20px 0;
	background-color: rgb(22, 119, 231);
	color: rgb(255, 255, 255);
	font-family: pangolin;
	text-decoration: none;
	border-radius: 20px;
	opacity: 50%;
}

#nav_menu ul li a.current {
	background-color: #f19c2b;

}

#nav_menu ul li a:hover {
	background-color: #01a2ff;
}

p {
	float: left;
	width: 40%;
	font-size: 200%;
	height: 400px;
	color: #ffffff;
	font-family: pangolin;
	padding: 1%;

}

.image-container {
	float: left;
	width: 30%;
	text-align: center;
}

img {
	max-width: 80%;
	height: auto;
	border-radius: 20px;
}

/* Background image */
body {
	font-family: pangolin;
	position: relative;
	background: linear-gradient(to bottom, #52a9fa, #f19c2b);
	padding: 0;
	margin: 0;
}

/* 2-column layout */
.main-content {
	display: flex;
	flex-wrap: wrap;
	gap: 5%;
}

/* Padding */
.main-content>div {
	padding: 2.5%;
	background-color: #1b2975;
}

/* Margin for header */
header {
	margin: 5%;
}

/* Margin for main section */
main {
	margin: 5%;
}

