@font-face {
  font-family: pangolin;
  src: url(Pangolin/Pangolin-Regular.ttf);
}

/* Global styles */
html {
  height: 100%;
}

:root {
  background: linear-gradient(to bottom, #52a9fa, #f19c2b);
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat scroll;
  background-attachment: fixed;
}




header {
  text-align: center;
  color: #ffffff;
  font-size: 300%;
  margin: 5%;
  font-family: pangolin;
}

main {
  width: 100%;
}

.image-container {
  white-space: nowrap;
  overflow-x: scroll;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 20px;
  box-sizing: border-box;
}

.image-container::-webkit-scrollbar {
  width: 12px;
}

.image-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.image-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.image-container figure {
  display: inline-block;
  width: 300px;
  text-align: center;
  margin-right: 10px;
  vertical-align: top;
}

.image-container img {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
  border: 5px solid #ffffff;
}

.image-container figcaption {
  margin-top: 5px;
  font-family: pangolin;
  color: #ffffff;
  font-size: 20px;
}


/* Navigation Menu */
#nav_menu {
  position: fixed;
  top: 45%;
  right: 10px;
  width: 200px;
}

#nav_menu ul {
  display: block;
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav_menu ul li {
  margin-bottom: 20px;
}

#nav_menu ul li a {
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(22, 119, 231);
  color: rgb(255, 255, 255);
  font-family: pangolin;
  text-decoration: none;
  border-radius: 20px;
  opacity: 50%;
  font-size: 16px;
  padding: 20px 0;
}

#nav_menu ul li a.current {
  background-color: #f19c2b;
}

#nav_menu ul li a:hover {
  background-color: #01a2ff;
  opacity: 100%;
}