@font-face {
  font-family: pangolin;
  src: url(Pangolin/Pangolin-Regular.ttf);
}

/* Global styles */
html {
  height: 100%;
}

:root {
  --blue-color: rgb(12, 10, 125);
}

/* Background image */
body {
  font-family: pangolin;
  position: relative;
  background: linear-gradient(to bottom, #52a9fa, #f19c2b);
  padding: 0;
  margin: 0;
}

header {
  font-family: pangolin;
  text-align: center;
  color: #ffffff;
  font-size: 150%;
  margin: 5%;
}
main {
  width: 100%;
}

.image-container {
  white-space: nowrap;
}

.image-container img {
  display: inline-block;
  width: 300px; /* Adjust the width to your preference */
  height: auto;
  margin-right: 10px; /* Adjust the spacing between images */
}

/* Navigation Menu */
#nav_menu {
  position: fixed;
  top: 45%;
  right: 10px;
  width: 200px;
}

#nav_menu ul {
  display: block;
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav_menu ul li {
  margin-bottom: 20px;
}

#nav_menu ul li a {
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(22, 119, 231);
  color: rgb(255, 255, 255);
  font-family: pangolin;
  text-decoration: none;
  border-radius: 20px;
  opacity: 50%;
}

#nav_menu ul li a.current {
  background-color: #f19c2b;
}

#nav_menu ul li a:hover {
  background-color: #01a2ff;
}